.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .container {
    padding: 6px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 4px;
  }
}
