.root {
  padding: 4px;

  .header {
    display: flex;

    .input {
      outline: none;
      border: none;
      background: none;
      padding: 2px;
      color: white;

      font-size: 20px;
      flex: 1;
      min-width: 0px;
      resize: none;
    }
  }
}